.contentainer__acercaDeMi {
    display: grid;
    width: 100%;
    min-height: 100vh;
    padding: 0 180px;
    letter-spacing: 0.3rem;
    font-size:1.6rem;
    line-height: 2.5rem;
    /* background: linear-gradient(90deg,rgba(253,113,92,1)  35%, #16bfbc 35%); */
    background: linear-gradient(0deg, rgba(33,42,54,1) 17%, rgba(68,88,113,1) 52%);
    
    

}

.content__info-acercaDeMi {
    display: grid;
    border: 5px solid rgb(85, 85, 85);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.637);
    box-shadow: 20px 20px 4px 2px rgba(36, 35, 35, 0.8);
    margin: 120px 20px;
    padding: 0 10px;
    font-weight: bold;
   
}

@media (max-width: 800px) {
    .contentainer__acercaDeMi {
        font-size: 1.4rem;
        line-height: 1.3;
        letter-spacing: 3px;
        padding: 0 10px;
    }

    .content__info-acercaDeMi {
    
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        margin: auto 0;
        height: max-content;
    }
}

