.contentainer__acercaDeMi {
    display: grid;
    gap: 1rem;
    width: 100%;
    min-height: 100vh;

    letter-spacing: 0.3rem;
    font-size:1.6rem;
    line-height: 2.5rem;
    /* background-image: url("/images/react-proyectos.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    background-color: #426175;
    color: rgb(235, 164, 34);

}

.content__info-acercaDeMi {
    border: 5px solid rgb(85, 85, 85);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.829);
    margin: 120px 20px;
    padding: 0 10px;
    font-weight: bold;
   
}

.corchetes {
    color: rgb(64, 212, 84);

    animation: translateCorchetes 2s infinite;
    
}

@keyframes translateCorchetes {
   
    0% {color: #f8af75}
    50% {color: #354355}
     100% {color: #f8af75} 
}

@media (max-width: 800px) {
    .contentainer__acercaDeMi {
        font-size: 1.4rem;
        line-height: 1.3;
        letter-spacing: 3px;
        
    }

    .content__info-acercaDeMi {
    
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 1rem;
        margin: auto 0;
       
        height: max-content;
    }
}

