.contentainer__acercaDeMi {
    display: grid;
    gap: 1rem;
    width: 100%;
    min-height: 100vh;

    letter-spacing: 0.3rem;
    font-size:1.6rem;
    line-height: 2.5rem;
    background-image: url("/images/react-proyectos.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

.content__info-acercaDeMi {
    border: 5px solid rgb(85, 85, 85);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.829);
    margin: 120px 20px;
    padding: 0 10px;

    font-weight: bold;
   


}