.container__contact {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #2C4456;

}

.title__contacto {
    border-radius: 0;
    width: 100%;

   
} 

.content__icon-contact {
    display: grid; 
     grid-template-columns:  1fr 1fr;
    font-size: 4rem;
    gap: 8rem;
   
    
}

.icon__contact {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}


.contacto__text {
    display: grid;
    font-size: 1.2rem;
    margin-bottom: 30px;

    color: white;
 
}

.copyright {
    font-size: 0.8rem;
    margin-bottom: 50px;
    color: rgb(223, 223, 223);
}

@media (max-width: 800px) {
    .content__icon-contact {
        font-size: 2.5rem;
    }

    .contacto__text {
        font-size: 0.8rem;
    }
}

@media (max-width: 400px) {
    .content__icon-contact {
        gap: 2rem;
    }
}

