.container__header {
    /*background: linear-gradient(0deg, rgb(34, 69, 195) 12%, rgba(195,45,253,1) 64%);*/
    /*background: linear-gradient(120deg, rgb(64, 52, 109) 22%, rgba(58,124,170,1) 76%);*/
    background-image: url("/images/fondo-header2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
     width: 100vw;
    min-width: 200px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 100px 20px;
    font-size: 2rem;

}


.content__header-img{
    width: 50%;
    animation: imgtranslate 2s infinite;
    margin-bottom: 60px ;
}

@keyframes imgtranslate {
    0% {transform: translateY(60px);}
    50% {transform: translateY(30px)}
    100% {transform: translateY(60px)}
}

.bxl-linkedin {
    width: 60px;
    aspect-ratio: 1;
    justify-self: center;
    align-self: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
}

.header__img {
    margin-bottom: 80px;
    border-radius: 50%;
    width: 100%;
    max-width: 250px;
    
    aspect-ratio: 1;
}

.header__info {
    width: 80%;
    display: grid;
    gap: 1.5rem;
    justify-content: center;
    /*background-color: rgba(0, 0, 0, 0.295);*/
    backdrop-filter: blur(3px);
    padding: 20px;
    color: rgb(255, 255, 255);
    border-radius: 15px;
}

.efecto__escribir {
    text-align: center;
    display: block;
    /* font-family: monospace; */
    white-space: nowrap;
    border-right: 4px solid;
    width: 24ch;

    animation: typing 6s infinite steps(24),
    blink 0.5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {width: 0}
}

@keyframes blink {
    50% {border-color: transparent}
}

.header__info span {
    color: rgb(223, 223, 223);
}

