.container__header {
    /*background: linear-gradient(0deg, rgb(34, 69, 195) 12%, rgba(195,45,253,1) 64%);*/
    /*background: linear-gradient(120deg, rgb(64, 52, 109) 22%, rgba(58,124,170,1) 76%);*/
    background-image: url("/images/fondo-header.jpg");
   
    width: 100vw;
    min-width: 200px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    font-size: 2rem;

}


.content__header-img i {
    display: block;
    
}

.content__header-img{
   width: 100%;
   

}

.bxl-linkedin {
    width: 60px;
    aspect-ratio: 1;
    justify-self: center;
    align-self: center;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
}

.header__img {
    border-radius: 50%;
    width: 100%;
    max-width: 250px;
    
    aspect-ratio: 1;
}

.header__info {
    display: grid;
    padding:20px;
    gap: 0.5rem;
    background-color: rgba(68, 49, 49, 0.829);
    border-radius: 15px;
}

.efecto__escribir {
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 24ch;

    animation: typing 6s infinite steps(24),
    blink 0.5s infinite step-end alternate;
    overflow: hidden;
}

@keyframes typing {
    from {width: 0}
}

@keyframes blink {
    50% {border-color: transparent}
}

.header__info span {
    color: rgb(112, 236, 245);
}

