.load {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(68,88,113,1) 15%, rgba(33,42,54,1) 87%);
    z-index: 7000;
    position: fixed;
}

.title__load {
    font-size: 3rem;
    line-height: 80px;
    animation: loading 5s ;
    -webkit-text-stroke: 1px #000000;
    color: #e7e7e7;
    position: absolute;
    z-index: 1;

}

@keyframes loading {
    0% {transform: scale(0);}
    50% {transform: scale(2);}
    75% {transform: scale(4);}
    100% {transform: scale(0);}
}



.content__load {
    width: 100%;
    height: 250px;
    background-color: rgba(22, 22, 22, 0.623) ;
    border-radius: 50%;
    padding: 50px;
    position: relative;
    animation: loading__content 5s ;
}

@keyframes loading__content {
    0% {transform: scale(0);}
    50% {transform: scale(100%);}
    75% {transform: scale(8);}
    100% {transform: scale(0);}
}

@media (max-width: 480px) {
    .title__load {
        font-size: 1.5rem;
        line-height: 30px;
    }

    .content__load {
        width: 100%;
        height: 200px;
    }
}

