.App {
text-align: center;
}

.title {
    color: #ffffff;
    /* background-color: #1c8685 ; */

    padding: 5px;
    font-size: 2.5rem;
    width: 100%;
}

.corchetes {
    color: rgb(64, 212, 84);

    animation: translateCorchetes 0.3s infinite;
    
}

@keyframes translateCorchetes {
   
    0% {color: rgba(33,42,54,1)}
    50% {color: #ffffff}
     100% {color: rgba(33,42,54,1)} 
}

@media (max-width: 800px) {
    .title {
        font-size: 1.8rem;
    }
}
    
